.buttonWrapper {
    display: inline-table;
    float: left;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    border-color: lightgray;
    padding: 10px 10px 1px 10px;
    max-width: fit-content;
    height: 93px;
    margin-left: 25px;
    margin-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.iconWrapper {
    border-color: lightgray;
    padding: 10px;
    height: max-content;
}

.addButton{
    padding: 10px;
}

.icon {
    width: 40px;
    height: 40px;
}

.buttonLabel {
    font-size: 13px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    width: 60px;
}