:root {
  --main-width: 100%;
}

.App {
  text-align: center;
}

.header {
  background-color: #222;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 50px;
  padding: 0px;
  color: white;
}

.top-bar {
  height: 100%;
  width: var(--main-width);
  margin: auto;
}

.contentContainer {
  min-height: 500px;
  width: var(--main-width);
  border-color: black;
  border: 1px;
  border-style: solid;
  margin: auto;
  display: flex;
}

.content {
  display: flex;
}

.footer {
  height: 50px;
  width: var(--main-width);
  border-color: green;
  border: 1px;
  border-style: solid;
  margin: auto;
}


